page-about {
  .background {
    background-color: #459092;
  }

  .nav-background {
    background-color: #bbebed;
  }

  p, h1, h2, h3, h4, h5, li, ul {
    color: #bbebed;
  }

  .card img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
