<ion-header>
  <ion-navbar color="light">
    <ion-buttons start>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="ios-menu" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <img alt="logo" height="44" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t34.0-12/18716588_10213303693054876_1422673853_n.png?oh=1cbd36c86e3ffa1f8fedf59c6309f21d&oe=59291198">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <h1 text-center class="background" color="light">Få et prisoverslag</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
     <ion-list>
       <ion-item class="background">
         <ion-label color="light" fixed>Vælg service:</ion-label>
         <ion-select ngModel name="title">
           <ion-option color="light" value="inspektion">Inspektion</ion-option>
           <ion-option color="light" value="sand">Sandblæsning</ion-option>
           <ion-option color="light" value="fuger">Fugerarbejde</ion-option>
           <ion-option color="light" value="maler">Malerarbejde</ion-option>
           <ion-option color="light" value="rigger">Riggerarbejde</ion-option>
           <ion-option color="light" value="traekning">Trækning</ion-option>
           <ion-option color="light" value="elektrik">Elektrikarbejde</ion-option>
           <ion-option color="light" value="tag">Tagarbejde</ion-option>
           <ion-option color="light" value="storm">Stormskader</ion-option>
           <ion-option color="light" value="vindue">Vinduespolering</ion-option>
         </ion-select>
       </ion-item>
       <ion-item class="background">
         <ion-label color="light" floating>Kort Beskrivelse</ion-label>
         <ion-textarea
                    name="information"
                    ngModel
                    required></ion-textarea>
       </ion-item>
     </ion-list>
     <ion-grid>

       <ion-row>

         <ion-col col-6>
           <button
              ion-button
              block
              color="light"
              type="button"
              icon-left
              (click)="onLocate()">
              <ion-icon color="primary" name="ios-pin"></ion-icon>
             Auto Søgning
           </button>
         </ion-col>

         <ion-col col-6>
           <button ion-button
                   block
                   color="light"
                   type="button"
                   icon-left
                   (click)="onOpenMap()">
             <ion-icon color="primary" name="map"></ion-icon>
             Vælg på kort
           </button>
         </ion-col>

       </ion-row>

       <ion-row *ngIf="locationIsSet">
         <ion-col>
           <sebm-google-map
                [latitude]="location.lat"
                [longitude]="location.lng"
                [zoom]="15">
             <sebm-google-map-marker 
                [latitude]="location.lat"
                [longitude]="location.lng">
             </sebm-google-map-marker>
           </sebm-google-map>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col text-center>
           <h2 color="light">Tag et Billede</h2>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col>
           <button ion-button
                   block
                   color="light"
                   type="button"
                   icon-left
                   (click)="onTakePhoto()">
             <ion-icon color="primary" name="camera"></ion-icon>
             Åbent Kamera
           </button>
         </ion-col>
       </ion-row> 

       <ion-row *ngIf="imageUrl != ''">
         <ion-col>
           <img [src]="imageUrl" />
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col>
           <button ion-button
                   block
                   color="light"
                   type="submit"
                   icon-left
                   [disabled]="!f.valid || !locationIsSet || imageUrl == ''">
             <ion-icon color="primary" name="ios-send"></ion-icon>
             Få overslag
           </button>
         </ion-col>
       </ion-row> 

     </ion-grid>

   </form>
  <h1 text-center class="background" color="light">Gemte steder</h1>
  <ion-card 
            *ngFor="let place of places; let i = index"
            (click)="onOpenPlace(place, i)">
    <img [src]="place.imageUrl" />
    <ion-content>
      <h2 text-center>{{ place.title }}</h2>
      <p>{{ place.information }}</p>
    </ion-content>

  </ion-card>
</ion-content>
