page-contact {
  .background {
    background-color: #459092;
    color: #459092;
  }

  .input {
    background-color: #459092;
  }

  p, h1, h2, h3, h4, h5 {
    color: #bbebed;
  }

  .contact {
    background-color: #459092;
    color: #bbebed;
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
