page-home {
  .btn {
    border-radius: 0;
  }

  .background {
    background-color: #459092;
  }

  .nav-background {
    background-color: #bbebed;
  }

  p, h1, h2, h3, h4, h5 {
    color: #bbebed;
  }

  .background {
    background-color: #459092;
  }
}
