page-projects {
  .background {
    background-color: #459092;
  }

  card {
    background-color: #bbebed!important;
  }

  h1, h2, h3, h4, h5 {
    color: #459092 !important;
    text-align: center !important;
    padding-bottom: 5px !important;
  }

  p {
    text-align: justify;
    color: #459092 !important;
  }
}
