page-services {
  .background {
    background-color: #4F9D9E !important;
  }
  //  .rowback-one {
  //    background-color: #4F9D9E !important;
  //    //border-radius: 100%;
  //border: 1px dashed #bbebed;
  //  }
  //  .rowback-two {
  //    background-color: #59A8A9 !important;
  //    //border-radius: 100%;
  //border: 1px dashed #bbebed;
  //  }
  p, h1, h2, h3, h4, h5 {
    color: #459092 !important;
  }

  .fab[mini] {
    width: 140px;
    height: 140px;
    margin-left: 175px;

  }

  .fab {
    width: 100px;
    height: 100px;
  }

  ion-card {
    border: 0 !important;
  }

  .inspektion {
    background-color: #459092;
    height: 130px;
    width: 130px;
    margin-left: 32%;
    margin-top: 6%;
    position: relative;
    z-index: 1001;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }

    :hover {
    }
  }

  .maler {
    background-color: #459092;
    height: 145px;
    width: 145px;
    margin-left: 9%;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .sand {
    background-color: #459092;
    height: 145px;
    width: 145px;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .elektrik {
    background-color: #459092;
    height: 130px;
    width: 130px;
    margin-left: 32%;
    position: relative;
    z-index: 1001;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .fuger {
    background-color: #459092;
    height: 145px;
    width: 145px;
    margin-left: 9%;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .rigger {
    background-color: #459092;
    height: 145px;
    width: 145px;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .storm {
    background-color: #459092;
    height: 130px;
    width: 130px;
    margin-left: 32%;
    position: relative;
    z-index: 1001;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .tag {
    background-color: #459092;
    height: 130px;
    width: 130px;
    margin-left: 32%;
    position: relative;
    z-index: 1001;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .traekning {
    background-color: #459092;
    height: 145px;
    width: 145px;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }

  .vindue {
    background-color: #459092;
    height: 145px;
    width: 145px;
    margin-left: 9%;
    border-radius: 100%;
    border: 5px solid #bbebed;

    img {
      padding: 0;
      margin: 0;
    }
  }
}
